@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding-bottom: 100px;  
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(255,234,221) 0.1%, rgb(229,210,198) 99.8% );
  }
  
  .about__container > h1 {
    font-size: 56px;
    color: #000000b3;
    font-weight: bold;
    font-family: 'Luckiest Guy', cursive;
    margin-right: 20px;
    animation-name: slideInFromLeft;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  .about__video {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  @media screen and (max-width: 600px) {

    .about__container > h1 {
      font-size: 40px;
    }
  }
  
   