@import url('https://fonts.cdnfonts.com/css/sprite-graffiti');

.container {
  display: flex;
  justify-content: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}

.callUps {
  width: 80%;
  padding: 20px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.callUps__content {
  margin-bottom: 40px;
}

.callUps__content--title {
  font-size: 56px;
  font-weight: bold;
  font-family: 'Sprite Graffiti', sans-serif;
  margin-bottom: 30px;
  color: #000000b3;
  animation-name: slideInFromLeft;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(25%);
  }
}

.callUps__content--gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  justify-content: center;
  align-items: center;
}

.gallery__item {
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
  position: relative;
}

.gallery__item--img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery__item:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.gallery__item__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Sprite Graffiti', sans-serif;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery__item:hover .gallery__item__content {
  opacity: 1;
}

.gallery__item__content__callUp {
  font-size: 18px;
  font-family: 'Sprite Graffiti', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 600px) {

  .callUps__content--title {
    font-size: 40px;
  }

  .callUps__content--gallery {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .callUps__content {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
