@import url("https://fonts.cdnfonts.com/css/sprite-graffiti");

.modalComponent__modalBody {
  border-radius: 15px;
}

.modalComponent__modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fd8d14;
  padding: 10px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
  z-index: 1000;
}

.modalComponent__titleContainer {
  display: flex;
  align-items: center;
}

.modalComponent__robotIcon {
  font-size: 24px;
  color: white;
  margin-right: 10px;
}

.modalComponent__modalTitle {
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  margin: 0;
}

.modalComponent__closeBtn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.modalComponent__closeBtn:hover {
  color: white;
  font-weight: bold;
}
