@import url('https://fonts.cdnfonts.com/css/sprite-graffiti');

.navbar {
  background: #004aad;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Sprite Graffiti', sans-serif;
  color: #fff;
  font-size: 24px;
  position: relative;
  z-index: 99;
}

.navbar__menuIcon {
  display: none;
  font-size: 32px;
}

.navbar__menuIcon:hover {
  color: #000000b3;
}

.navbar__menuIcon_active .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.navbar__menuIcon_active .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.navbar__logo {
  height: 50px;
}

.navbar__menuList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menuList li:last-child a {
  font-weight: 300;
  padding: 5px 10px;
  background-color: #00bf63;
  transition: all 0.5s ease-in-out;
  margin-left: 20px;
  border-radius: 2px;
}

.navbar__menuList li:last-child a:hover {
  background-color: #000000b3;
  text-decoration: none;
  color: white;
}

.navbar__menuList li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 5px;
}

.navbar__menuList li a:hover,
.navbar__menuList li a.active {
  color: #000000b3;
  transition: all 0.5s ease-in-out;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .navbar__logo {
    font-size: 20px;
  }
  .navbar__menuList li a {
    font-size: 24px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .navbar__menuIcon {
    display: block;
  }
  .navbar__menuList {
    flex-direction: column;
    width: 93.27%;
    position: absolute;
    background: #004aad;
    padding: 20px;
    right: -100%;
    top: 70px;
    transition: all 0.5s ease-in-out;
  }

  .navbar__menuList_opened {
    right: 0;
    transition: all 0.5s ease-in-out;
  }

  .navbar__menuList_close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }

  .navbar__menuList li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .navbar__menuList li:last-child {
    margin-bottom: 0px;
  }

  .navbar__menuList li a,
  .navbar__menuList li:last-child a {
    width: 100px;
    display: block;
    margin: auto;
  }
}
