.nesia-chat-bot__container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.nesia-chat-bot__response-container {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  overflow-y: auto;
}

.nesia-chat-bot__response {
  list-style: none;
  text-align: left;
  margin: 5px;
  padding: 10px;
  background-color: #00bf63;
  color: white;
  border-radius: 10px;
  max-width: 70%;
  align-self: flex-end;
}

.nesia-chat-bot__user-response {
  list-style: none;
  text-align: left;
  margin: 5px;
  padding: 10px;
  background-color: #00bf63;
  color: white;
  border-radius: 10px;
  max-width: 70%;
  font-size: 18px;
  align-self: flex-start;
}

.nesia-chat-bot__user-input-message {
  background-color: #004aad;
  color: white;
  border-radius: 10px;
  padding: 5px;
  max-width: 70%;
  font-size: 18px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.nesia-chat-bot__user-icon {
  font-size: 20px;
  margin-bottom: 5px; 
  border-radius: 5px;
  padding: 5px;
  background-color: #004aad;
}

.nesia-chat-bot__user-icon:hover {
  background-color: #000000b3;
  border: 1px solid #000000b3;
}

.nesia-chat-bot__input-container {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  padding: 10px;
}

.nesia-chat-bot__input {
  flex: 1;
  border: #00bf63 1px solid;
  background-color: #f2f2f2;
  color: #000000b3;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 18px;
}

.nesia-chat-bot__icon {
  background-color: #00bf63;
  color: white;
  border: 1px solid #00bf63;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;
  cursor: pointer;
}

.nesia-chat-bot__icon:hover {
  background-color: #000000b3;
  border: 1px solid #000000b3;
}

.nesia-chat-bot__modal-title {
  font-size: 20px;
  color: white;
  margin: 0;
}

.nesia-chat-bot__open-button {
  font-size: 42px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #00bf63;
  border: 1px solid #00bf63;
  color: white;
}

.nesia-chat-bot__open-button:hover {
  background-color: #000000b3;
  border: 1px solid #000000b3;
  cursor: pointer;
}

/* media resp */
@media screen and (max-width: 600px) {
  .nesia-chat-bot__container {
    bottom: 10px;
    right: 10px;
  }

  .nesia-chat-bot__response-container {
    height: 300px;
  }

  .nesia-chat-bot__response,
  .nesia-chat-bot__user-response,
  .nesia-chat-bot__user-input-message {
    max-width: 100%;
  }

  .nesia-chat-bot__input-container {
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
  }

  .nesia-chat-bot__input {
    margin: 10px 0;
  }

  .nesia-chat-bot__icon {
    margin-right: 0;
  }

  .nesia-chat-bot__modal-title {
    font-size: 16px;
  }

  .nesia-chat-bot__open-button {
    font-size: 32px;
    padding: 5px;
  }

  .nesia-chat-bot__open-button {
    display: inline-block;
  }
}
